<template>
  <div class="items-center bg-gray-50 rounded-lg shadow sm:flex dark:bg-gray-800 dark:border-gray-700">
    <div class="p-5">
      <h3 class="text-xl font-bold tracking-tight text-gray-900 dark:text-white">
        {{ findHeroById(heroData.Id).NAME }}
      </h3>
      <span class="text-gray-500 dark:text-gray-400">{{ findRoleById(heroData.RoleId).NAME }}</span>
      <ul class="mt-3 font-light text-gray-500 dark:text-gray-400">
        <li v-for="xpData in heroData.AvailableXP">
          {{ findRoleById(xpData.RoleId).NAME }}: {{ xpData.XP }} XP
        </li>
      </ul>
    </div>
  </div>
</template>

<script setup>
  import useLookup from '../compositions/lookup'

  const { findHeroById, findRoleById } = useLookup()

  const props = defineProps({
    heroData: {
        type: Object,
        default: null,
    },
  })
</script>
