<template>
  <div class="items-center bg-gray-50 rounded-lg shadow sm:flex dark:bg-gray-800 dark:border-gray-700">
    <div class="p-5">
      <h3 class="text-xl font-bold tracking-tight text-gray-900 dark:text-white">
        {{ partyName }}
      </h3>
      <ul class="mt-3 font-light text-gray-500 dark:text-gray-400">
        <li>Save Slot: {{ saveIndex }}</li>
        <li>Campaign Name: {{ campaignId }}</li>
        <li>Campaign Difficulty: {{ campaignDifficulty }}</li>
        <li>Adventure Name: {{ currentAdventureId }}</li>
      </ul>
    </div>
  </div>
</template>

<script setup>
  import useLookup from '../compositions/lookup'

  const { findHeroById, findRoleById } = useLookup()

  const props = defineProps({
    saveIndex: {
        type: Number,
        default: null,
    },
    campaignId: {
        type: Number,
        default: null,
    },
    currentAdventureId: {
        type: Number,
        default: null,
    },
    partyName: {
        type: String,
        default: null,
    },
    campaignDifficulty: {
        type: Number,
        default: null,
    },
  })
</script>
