<script setup>
import { ref } from 'vue'
import DropZone from './components/DropZone.vue'
import PartyCard from './components/PartyCard.vue'
import HeroCard from './components/HeroCard.vue'
import { initDrawers } from 'flowbite'

const rawData = ref()
const prettyData = ref()
let drawerright = ref()

function onInputChange(e) {
  readFiles(e.target.files)
  e.target.value = null
}

function readFiles(newFiles) {
  const reader = new FileReader()
  const selectedFile = newFiles[0]

  reader.addEventListener("load", () => {
    console.log(`File: ${selectedFile.name} read successfully`)
    rawData.value = JSON.parse(reader.result)
    prettyData.value = JSON.stringify(JSON.parse(reader.result), null, 2)

    initDrawers()
  }, false)

  reader.addEventListener("error", () => {
    console.error(`Error occurred reading file: ${selectedFile.name}`)
  }, false)

  reader.readAsText(selectedFile)
}
</script>

<template>
  <div class="flex flex-col min-h-screen font-sans bg-gray-50 dark:bg-gray-900">
    <main class="container">
      <section>
        <div class="py-8 mx-auto max-w-screen-xl lg:py-16 grid lg:grid-cols-2 gap-8 lg:gap-16">
          <div class="flex flex-col justify-center">
            <h1
              class="mb-4 text-4xl font-extrabold tracking-tight leading-none text-gray-900 md:text-5xl lg:text-6xl dark:text-white">
              LotR:JiME Save File Editor</h1>
            <p class="mb-6 text-lg font-normal text-gray-500 lg:text-xl dark:text-gray-400">This application edits save
              files for the game.</p>
          </div>
          <div>
            <div class="w-full lg:max-w-xl p-6 space-y-8 sm:p-8 bg-white rounded-lg shadow-xl dark:bg-gray-800">
              <h2 class="text-2xl font-bold text-gray-900 dark:text-white">
                To begin, load your save file below.
              </h2>
              <form class="mt-8 space-y-6" action="#">
                <DropZone class="flex items-center justify-center" @file-dropped="readFiles"
                  #default="{ dropZoneActive }">
                  <label for="file-input"
                    class="flex flex-col items-center justify-center w-full h-64 px-4 transition border-2 border-gray-300 border-dashed rounded-md appearance-none cursor-pointer hover:border-gray-400 focus:outline-none">
                    <div class="flex flex-col items-center justify-center pt-5 pb-6">
                      <svg aria-hidden="true" class="w-10 h-10 mb-3 text-gray-400" fill="none" stroke="currentColor"
                        viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                          d="M7 16a4 4 0 01-.88-7.903A5 5 0 1115.9 6L16 6a5 5 0 011 9.9M15 13l-3-3m0 0l-3 3m3-3v12">
                        </path>
                      </svg>
                      <p class="mb-2 text-sm text-gray-500 dark:text-gray-400"><span class="font-semibold">Click to
                          load</span> or
                        drag and drop file</p>
                      <p class="text-xs text-gray-500 dark:text-gray-400">SavedGameA or SavedGameB files only</p>
                    </div>
                    <input type="file" id="file-input" @change="onInputChange" class="hidden" />
                  </label>
                </DropZone>
              </form>
            </div>
          </div>
        </div>
      </section>

      <section v-if="rawData">
        <div class="grid gap-8 mb-6 lg:mb-16">
          <PartyCard :saveIndex="rawData.SaveIndex" :campaignId="rawData.CampaignId"
            :currentAdventureId="rawData.CurrentAdventureId" :partyName="rawData.PartyName"
            :campaignDifficulty="rawData.CampaignDifficulty" />
        </div>

        <div class="grid gap-8 mb-6 lg:mb-16 md:grid-cols-2">
          <HeroCard v-for="heroData in rawData.HeroInfo" :heroData="heroData" />
        </div>
      </section>

      <section>
        <button
          class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800"
          type="button" data-drawer-target="drawerright" data-drawer-show="drawerright"
          data-drawer-placement="right" aria-controls="drawerright">
          Show raw data
        </button>

        <!-- drawer component -->
        <div id="drawerright" :ref="drawerright"
          class="fixed top-0 right-0 z-40 h-screen p-4 overflow-y-auto transition-transform translate-x-full bg-white dark:bg-gray-800"
          tabindex="-1" aria-labelledby="drawer-right-label">
          <h5 id="drawer-right-label"
            class="inline-flex items-center mb-4 text-base font-semibold text-gray-500 dark:text-gray-400">
            <svg
              class="w-5 h-5 mr-2" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd"
                d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z"
                clip-rule="evenodd"></path>
            </svg>Raw Data</h5>
          <button type="button" data-drawer-hide="drawerright" aria-controls="drawerright"
            class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 absolute top-2.5 right-2.5 inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white">
            <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd"
                d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
              clip-rule="evenodd"></path>
            </svg>
            <span class="sr-only">Close menu</span>
          </button>

          <pre class="mb-6 text-sm text-gray-500 dark:text-gray-400">{{ prettyData }}</pre>
        </div>
      </section>
    </main>
  </div>
</template>

<style scoped></style>
